*{
    padding: 10px;

}
.imagen_Icon{
    margin-left: 2.5rem;
    align-items: flex-start;
}

.btn {

    width: 132%;
    margin: 1%;
    height: 35px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
